

body, html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {

    padding: 10px;
    background: #f2f2f2;
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 300px;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
}

.title {
    margin: 10px ;

}
.section {

    background: white;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    border-radius: 8px;
    text-align: center;
    font-size: 0.95em;
    overflow: hidden;
    margin-bottom: 10px;
}

.img-wrapper {
    height: 100%;
    width: 100%;
    min-height: 75px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
   
}
.cards {

    padding: 5px 10px 20px 10px;
    background: #33bdc2;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 0.75em;
    overflow: hidden;
    color: white;
    float:left;
    width: 100%;
}

.range {
    margin-top: 5px;
}

.card {

    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    background: white;
    height: 100px;
    border-radius: 8px;
    float:left;
    width: calc(33% - 10px);
    margin: 5px;
    position: relative;

}


input{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input:checked ~.card-content{
    border: solid 2px #e2684b;
}

.card-content {

    box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
    background: white;
    height: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
    font-size: 0.85em;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 320px) {
    
    .card{
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media only screen and (min-width: 660px) {
    
        .cards{
            width: calc(50% - 20px);
            margin: 10px;
        }
  }

